div {
    max-width: 855px;
}

a{
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    background: grey;
    color: black;
    padding: 10px 0;
    width: 50%;
    max-width: 428px;
}

a:focus,
a:hover,
a:visited,
a:active{
    opacity: .8;
    text-decoration: none;
}

.active-link{
    color: lightgrey;
    background: black;
}