.row{
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

.job{
    text-align: left;
    margin-top: 25px;
    width: 95%;
    display: inline-block;
    color: black;
}

.job-title{
    font-weight: bold;
    font-size: 20px;
}

img{
    margin-right: 25px;
    display: inline-block;
}

.job-info{
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.job-company{
    margin-right: 25px;
}

.icon-star{
    display: inline-block;
    position: relative;
    top: 35px;
    font-size: 25px;
}

.icon-star:hover{
    cursor: pointer;
}