@for(row of data; track row.id){
    <div class="row">
        <a class="job" [routerLink]="['/detail', row.id]">
            <img src="{{row.companyLogo}}" alt="{{row.companyName}}" width="50" height="50"/>
            <div class="job-info">
                <span class="job-title">{{ row.title }}</span><br>
                <span class="job-company">Company: {{ row.companyName }}</span>
                <span>Reference: {{ row.reference }}</span>
            </div>
        </a>
        <span class="icon-star" [id]="'star-' + row.id" (click)="toggleFavorite(row.id)" [class.active]="jobService.favorites().includes(row.id)"></span>
    </div>
}